*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
font-family: 'Dancing Script', cursive;

*/
.nav1{
    width: 100%;
    height: 50px;
    color: white;
    background: #0ab5f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1 i{
    margin: 0 5px;
}

.nav1 a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background: #e67e22;
}

.nav2{
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    
}

.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    tab-size: 100px;
}

header
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/two-businessmen-with-laptop-having-meeting_e1phrg9y_thumbnail-1080_01.png');
    background-color: 100% 100%;
}

.h-text{
    max-width: 600px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.h1-text h1{
    font-size: 3em;
    font-family:'Dancing Script', cursive;
    justify-content: space-between;
}
.h-text span{
    color: #e67e22;
    font-family:'Dancing Script', cursive;
}
.h-text p{
    font-size: 20px;
    margin: 40px 0;
    line-height: 30px;
}

.h-text a{
    text-decoration: none;
    color: white;
    background: #e67e22;
    padding: 10px 20px;
    margin: 0 15px;
    letter-spacing: 5px;
}

.nav3{
    width: 100%;
    height: 250px;
    color: white;
    background:#0ab5f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav3 i{
    margin: 0 5px;
}

.nav3 a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background: orangered;
}








